bin/Debug/netcoreapp3.1/CoreNativeTest.pdb
obj/CoreNativeTest.csproj.nuget.g.targets
bin/
obj/
CmakeFiles/
cMake*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
